<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<br>

<p> Posts do Usuário:</p>

<% @user.posts.each do |post| %>
 
    <br>

    <p>
      <strong>Candidato:</strong>
      <%= link_to post.candidato.nome_urna_candidato, post.candidato %>
    </p>
        
    <p>
      <strong>Titulo:</strong>
      <%= post.titulo %>
    </p>
    <p>
      <strong>Texto:</strong>
      <%= post.texto %>
    </p>

    <p>
      <strong>Comentários:</strong>
      <%= post.comentarios.count %>
    </p>

    <br>

    <%= link_to 'entrar', post_path(post), :class => 'btn btn-primary' %>
    <% if user_signed_in? %>
      <% if current_user == @user %>
        |<%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %>
      <% end %>
    <% end %>

    <br>    
<% end %>


<% if user_signed_in? %>
      <% if current_user == @user %>
			<%= link_to 'Edit', edit_user_path(@user) %> |
	  <% end %>
<% end %>	  	
<%= link_to 'Back', root_path %>
