<%= form_for(@post) do |f| %>
 <% if @post.errors.has_key? :base %>
   <div id="error_explanation">
     <%= @post.errors[:base].join(', ') %>
   </div>
 <% end %>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
    <%= error_tag @post, :titulo %>
  </div>
  <div class="field">
    <%= f.label :texto %><br>
    <%= f.text_area :texto %>
    <%= error_tag @post, :texto %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :candidato_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
