<br>

<h1>Post:</h1>

<br>

<p>
  <strong>Candidato:</strong>
  <%= link_to @post.candidato.nome_urna_candidato, @post.candidato %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @post.texto %>
</p>

<p>
  <strong>Usuário</strong>
  <%= link_to @post.user.nome, @post.user%>
</p>
<br>
    <p>Likes: <%= @post.likes.count %></p>
    <% if user_signed_in? %>
        <% liker = nil %>
        <% @post.likes.each do |like| %>
          <% if like.user_id == current_user.id %>
              <% liker = like %>
          <% end %> 
        <% end %>
        <% if liker != nil %>
          <%= link_to 'Descurtir', liker, method: :delete, :class => 'btn btn-primary'  %> 
          <br>     
        <% else %>
          <%= form_for([@post, @post.likes.build]) do |f| %>
              <%= f.hidden_field :post_id, :value => @post.id %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.submit 'Curtir', :class => 'btn btn-primary' %>
          <% end %>            
        <% end %> 
    <% end %>

<br>
<h1><strong>Links:</strong></h1>

             
<% @post.hashtags.each do |hashtag| %>
   
  <% if hashtag.nome == '' %>
    <%= link_to url_with_protocol(hashtag.link), url_with_protocol(hashtag.link), :target => '_blank' %>
  <% else %>
    <%= link_to hashtag.nome, url_with_protocol(hashtag.link), :target => '_blank' %>
  <% end %>
                  
  <% if user_signed_in? %>
    <% if current_user == @post.user %>
      <%= link_to 'Deletar', hashtag, method: :delete, data: { confirm: 'Are you sure?' }  %>
    <% end %>
  <% end %>
  <br>
<% end %>

<% if user_signed_in? %>
    <% if current_user == @post.user %>
        
        <%= form_for([@post, @post.hashtags.build]) do |f| %>  
        
          <%= f.label :nome %>
          <%= f.text_field :nome %>
          
          <%= f.label :link %>
          <%= f.text_field :link %>
          
          <%= f.hidden_field :post_id, :value => @post.id %>

          <%= f.submit 'Incluir', :class => 'btn btn-primary' %>
        <% end %>
          
    <% end %>
<% end %> 
        

<br>

<% if user_signed_in? %>
      <% if current_user == @post.user %>
      <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-primary' %> |
    <% end %>
<% end %>     
<%= link_to 'Back', candidato_path(@post.candidato), :class => 'btn btn-primary' %>
<br>
<br>
<p>Comentários:</p>

<% @post.comentarios.each do |comentario| %>

    <br>
        
    <p>
      <strong>Texto:</strong>
      <%= comentario.texto %>
    </p>
    <p>
      <strong>Usuário:</strong>
      <%= link_to comentario.user.nome, comentario.user %>
    </p>

    <br>

    <% if user_signed_in? %>
      <% if current_user == comentario.user or current_user == @post.user %>
        <%= link_to 'Deletar', comentario, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %>
      <% end %>
    <% end %>

    <br>    

<% end %>

<% if user_signed_in? %>
  <%= form_for([@post, @post.comentarios.build]) do |f| %>  
      <div class="field">
        <%= f.label :texto %><br>
        <%= f.text_area :texto %>
      </div>
      <%= f.hidden_field :post_id, :value => @post.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit 'Incluir', :class => 'btn btn-primary' %>
  <% end %>    
<% end %> 

<%= link_to 'Back', candidato_path(@post.candidato), :class => 'btn btn-primary' %>

